*.zip
*.jar
*.mod
*.o
*~
*.sw?
mx.dsp56k/*.pyc
mx.dsp56k/.project
mx.dsp56k/.pydevproject
mx.dsp56k/*.iml
mx.dsp56k/env
mx.dsp56k/eclipse-launches/**
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
compilations-*.cfg
dsp56k/**
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
/.metadata/
